<div class="d-flex flex-column text-center">

  <label for="cigarro" class="my-4">
    Quantidade de cigarros por dia:
  </label>
  <input type="number" placeholder="Ex: 2" id="cigarro" [(ngModel)]="quantidadeCigarro">

  <label for="ano">
    Quantidade de anos fumando
  </label>
  <input type="number" placeholder="Ex: 5" id="ano" [(ngModel)]="quantidadeAnoFumando">

  <button class="btn btn-primary mt-4" (click)="calcularTempoVidaPerdido()">Calcular</button>

  <h4>Tempo de vida perdido</h4>
  <h2>{{tempoVidaPerdido}} minuto(s)</h2>

</div>